{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>{{ categorie.nomCategorie }}</h1>

        <div class="card">
            <div class="card-body">
                <p>ID : {{ categorie.id }}</p>
                <p>Nom : {{ categorie.nomCategorie }}</p>
                <!-- Ajoutez ici d'autres champs de catégorie si nécessaire -->
            </div>
        </div>

        <a href="{{ path('app_categorie_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
